.THIS {
}

.THIS .slds-card{
    background: #f6f7f6;
    border-radius: 0px;
    border : 0px;
}

.THIS span.slds-text-heading_small {
    font-size: 16px;
    font-weight: 600;
    color: #16325c;
}
.THIS .slds-card .slds-card{
    background: #ffffff;
    border: 1px solid rgb(221, 219, 218) !important;
}
.THIS .ft12px{
    font-size: 12px;
}
.THIS .slds-progress{
    max-width: 100%;
}
.THIS span.slds-badge{
    background: #0070D2;
    color: white;
}